*{
  font-family: "Berkshire Swash", cursive;
}

body {
  background-color: #400000;
  margin: 0px 0px 0px 0px;
}

/* put full page styling here
put the style in the component for only that component

does putting style in app go everywhere?
*/